Programming Log for:
Anisha Kollareddy, Emaan Haseem, Keegan Franklin, and Juan Nava

"..." = Worked through GitHub and a codesharing
	website codeshare.io. We also communicated
	any changes or ideas we though would work
	through phone call/FaceTime. We were able
	to work at the same time, but coordinated
	with each other of big changes.

04/14/2020
11:00 AM - 4:00 PM (5 Hours)
"..."

04/15/2020
2:00 PM - 6:00 PM (4 Hours)
"..."

04/17/2020
12:00 PM - 6:00 PM (6 Hours)
"..."

04/18/2020
5:00 PM - 10:00 PM (5 Hours)
"..."

04/19/2020
1:00 PM - 4:00 PM (3 Hours)
"..."

04/20/2020
3:00 PM - 9:00 PM (6 Hours)
"..."

04/21/2020
12:00 PM - 5:30 PM (5.5 Hours)
"..."
