################
TEAM INFO
################
Name1: Anisha Kollareddy
EID1: ak39675
CS login: anisha2k
Email: anishakollareddy@gmail.com
Unique Number: 50495

Name2: Emaan Haseem
EID2: eh27758
CS login: emaan00
Email: emaanhaseem@gmail.com
Unique Number: 50490

Name3: Keegan Franklin
EID3: kdf937
CS login: kdf937
Email: kdvon2000@gmail.com
Unique Number: 50500

Name4: Juan Nava
EID4: jcn842
CS login: jNav56
Email: nava.juan1012@gmail.com
Unique Number: 50500

Slip days used: 0

################

